@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&family=Open+Sans:wght@400;600&display=swap");
.app {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 100%; }

.title-font, .main-logo span, .text-button, .footer h3 {
  font-family: "Montserrat", sans-serif; }

.text-font, .landing-hero .all-containing-container h1, .landing-hero .all-containing-container p, .landing-hero .all-containing-container .buy, .amounts .texty div, .footer {
  font-family: "Open Sans", sans-serif; }

.all-containing-container {
  box-sizing: border-box;
  min-width: 100%; }
  @media (min-width: 0) {
    .all-containing-container {
      padding: 0 1em; } }
  @media (min-width: 500px) {
    .all-containing-container {
      padding: 0 5em; } }
  @media (min-width: 1024px) {
    .all-containing-container {
      padding: 0 4em; } }
  @media (min-width: 1200px) {
    .all-containing-container {
      padding: 0 8em; } }

.main-logo {
  color: #f2f2f2;
  align-items: center;
  display: flex; }
  .main-logo span {
    margin-left: 0.5em;
    font-weight: 900;
    font-size: 1.8em;
    letter-spacing: 0.1em; }
  .main-logo img {
    margin-bottom: 0.4em;
    width: 50px; }

nav.main {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  height: 4em;
  background-color: rgba(10, 10, 10, 0.2);
  display: flex;
  align-items: center;
  overflow: hidden; }
  nav.main .main-logo {
    max-width: 50px;
    padding-top: 0.1em; }
  nav.main .all-containing-container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  nav.main .buttons {
    display: flex; }
    nav.main .buttons .signup {
      display: none; }
      @media (min-width: 0) {
        nav.main .buttons .signup {
          display: none; } }
      @media (min-width: 1024px) {
        nav.main .buttons .signup {
          display: flex; } }

.text-button {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2em;
  background-color: #f2f2f2;
  color: #9b50ff;
  border-radius: 1.5em;
  padding: 0.5em 2em;
  height: 1.2em;
  display: inline-flex;
  align-items: center;
  margin-left: 1em;
  transition: 350ms;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }
  .text-button:hover {
    background-color: #9b50ff;
    color: #f2f2f2;
    transition: 350ms; }
  .text-button:active {
    background-color: #7e1dff;
    color: #f2f2f2;
    transition: 150ms; }

.landing-hero {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/memeunity-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 800px; }
  .landing-hero .all-containing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f2f2f2; }
    .landing-hero .all-containing-container h1 {
      text-shadow: 1px 1px 7px #0a0a0a;
      margin: 0;
      line-height: 100%; }
      @media (min-width: 0) {
        .landing-hero .all-containing-container h1 {
          font-size: 1.5em; } }
      @media (min-width: 320px) {
        .landing-hero .all-containing-container h1 {
          font-size: 1.25em; } }
      @media (min-width: 500px) {
        .landing-hero .all-containing-container h1 {
          font-size: 2em; } }
      @media (min-width: 1024px) {
        .landing-hero .all-containing-container h1 {
          font-size: 3em; } }
      .landing-hero .all-containing-container h1 span {
        color: #9b50ff; }
    .landing-hero .all-containing-container p {
      font-style: italic;
      text-align: center; }
    .landing-hero .all-containing-container .buy {
      box-shadow: 1px 1px 7px rgba(10, 10, 10, 0.5);
      letter-spacing: 0.05em;
      color: #9b50ff;
      background-color: #f2f2f2;
      padding: 1em 2em;
      border-radius: 5%; }

.amounts {
  margin: 3em auto 3em auto; }
  .amounts .texty {
    display: flex;
    justify-content: space-between; }
    .amounts .texty div {
      font-weight: 600; }
    .amounts .texty.after {
      margin-top: 5px; }
    .amounts .texty.before {
      margin-bottom: 5px; }
  .amounts .bar {
    height: 10px;
    border-radius: 5px;
    background-color: #f2f2f2; }
  .amounts .progress {
    height: 100%;
    background-color: #9b50ff;
    width: 30%;
    border-radius: 5px; }
  @media (min-width: 0) {
    .amounts {
      width: 20em; } }
  @media (min-width: 500px) {
    .amounts {
      width: 100%; } }
  @media (min-width: 1024px) {
    .amounts {
      width: 40em; } }

.footer {
  background-color: #190e37;
  width: 100%;
  color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media (min-width: 0) {
    .footer {
      height: 850px; } }
  @media (min-width: 1024px) {
    .footer {
      height: 400px; } }
  .footer h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    margin-top: 0.4em;
    margin-bottom: 1em; }
  .footer .main-logo {
    margin-bottom: 0.8em; }
  .footer .all-containing-container {
    display: flex;
    justify-content: space-between; }
    @media (min-width: 0) {
      .footer .all-containing-container {
        flex-direction: column;
        align-items: center;
        min-width: 0;
        max-width: 100%; } }
    @media (min-width: 500px) {
      .footer .all-containing-container {
        min-width: 0;
        max-width: 100%; } }
    @media (min-width: 1024px) {
      .footer .all-containing-container {
        align-items: flex-start;
        flex-direction: row;
        max-width: 100%; } }
    .footer .all-containing-container > div {
      text-align: start; }
      .footer .all-containing-container > div p,
      .footer .all-containing-container > div ul {
        color: rgba(242, 242, 242, 0.8);
        margin: 0;
        font-size: 0.9em;
        line-height: 1.6em; }
      .footer .all-containing-container > div ul {
        list-style-type: none;
        padding-left: 0; }
        .footer .all-containing-container > div ul li {
          display: flex; }
          .footer .all-containing-container > div ul li .bullet {
            color: rgba(242, 242, 242, 0.6); }
          .footer .all-containing-container > div ul li a {
            margin-left: 0.8em; }
        .footer .all-containing-container > div ul li:hover {
          color: memeunity-white; }
          .footer .all-containing-container > div ul li:hover .bullet {
            color: rgba(242, 242, 242, 0.8); }
      .footer .all-containing-container > div a {
        text-decoration: dotted;
        text-align: center;
        color: rgba(242, 242, 242, 0.9); }
      .footer .all-containing-container > div .social {
        width: 10em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1em auto auto auto;
        height: 3em; }
        .footer .all-containing-container > div .social i {
          font-size: 2em; }
    @media (min-width: 1024px) {
      .footer .all-containing-container > div {
        max-width: 23%; } }
    @media (min-width: 0) {
      .footer .all-containing-container > div {
        width: 100%; } }

#footername {
  margin-top: 1.2em; }

.footerform {
  box-sizing: border-box;
  width: 100%;
  background-color: #2b1860;
  border-radius: 1em;
  border-color: rgba(242, 242, 242, 0.8);
  margin-bottom: 10px;
  margin-right: 0;
  padding: 0.3em 1em 0.3em 1em;
  color: #f2f2f2;
  padding-left: 1em; }
  .footerform:hover {
    background-color: #3e2388;
    border: solid 2px #f2f2f2; }
  .footerform:focus {
    outline: none; }

.success {
  color: greenyellow;
  margin-top: 0.3em; }

.invalid {
  color: orangered;
  margin-top: 0.3em; }

.hidden {
  display: none; }

.emailbutton {
  box-sizing: border-box;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  width: 100%;
  padding: 0.3em;
  border-radius: 1em;
  border: solid 2px rgba(242, 242, 242, 0.8);
  font-weight: 700; }
  .emailbutton:hover {
    background-color: #2b1860;
    border: solid 2px #f2f2f2; }
  .emailbutton:active {
    background-color: #f2f2f2;
    color: #190e37;
    border: solid 2px #190e37; }
